/* about */
.about{
    overflow: hidden;
}
.aboutContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10rem;
  padding: 5rem 0;
}
.heading {
  text-align: center;
  color: #efefef;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 3.6vw;
}
.info {
  color: #efefef;
  font-family: "Heebo";
  text-align: left;
}
.aboutContent h3 {
  font-size: 2.1vw;
  color: white;
  font-family: "Heebo";
  margin-bottom: 1rem;
}
.info p {
  color: #efefef;
  font-family: "Heebo";
  margin: 1.5rem 0;
  line-height: 1.8vw;
  font-size: 1vw;
}
.info .bold {
  font-weight: 700;
}
.contact {
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
  background: rgb(33, 60, 238);
  border-radius: 10px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 1.7vw;
  line-height: 29px;
  padding: 1rem 1.5rem;
  color: #ffffff;
  user-select: none;
  border: none;
  transition: transform 0.2s ease;
}
.contact:active {
  transform: scale(0.96);
}
.skillsContent {
  display: flex;
  flex-wrap: wrap;
}
.skillsContent2 {
  display: none;
}
.skillsContent .skillItem {
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.5vw;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: #efefef;
  font-family: "Heebo";
}
